   li 
    a(class="toltipeed elemennav-secun", data-position="bottom", data-tooltip="Proximamente", style="font-size:15px;color:black !important")
     b Noticias

     li 
  a(class="tooltiped" data-position="bottom" data-tooltip="Proximamente" style="color:white !important")
   i(class="small material-icons right" style="color:white !important;margin-top:1px !important;") chevron_right
   p(style="color:white !important;") Noticias
  div(class="divider")