doctype html
html
 include head.pug
 body 
  include nav.pug
  div(class="container-fluid")
   div(class="slider slider-prueba" style="margin-top:0px")
    ul(class="slides slides-pruea")
     li
      img(src="img/VALUES_040222.jpg", style="height:450px;filter:brightness(0.8)", alt="")
      div(class="caption center-align")
       br
       br
       br
       br
       h3(class="primertitulo")
        b(class="boldbanner") Chemical Broker
        br
       b(class="segundotitulo" style="font-size:26px") Valores
  div(class="container")
   section(style="margin-top:125px;width:130px")
    a(href="index.php" class="breditem active" style="color:#262137 !important")
     b(class="Tipografia--general letranegro Subtitulos breadcrumb") Inicio&nbsp
     b  >&nbsp
    a(href="Valores.php" class="Tipografia--general letranegro Subtitulos" style="color:#262137 !important;")
     b(class="Tipografia--general letranegro Subtitulos breadcrumb")  Valores
  div(class="container" style="margin-top:20px")
   div(class="row")
    div(class="col s12 m12 l12 xl12")
     h6(class="Tipografia--general letranegro General--Cuerpo")
      b(style="color:#262137;border-bottom:1.5px solid #b12729" class="Tipografia--general letranegro General--Cuerpo") Como Regimos Nuestro Actuar
     p(style="margin-top:30px" class="Tipografia--general letranegro General--Cuerpo")
      b(style="color:#262137;") Chemical Broker
      = ' es una organización regida por ' 
      b(style="color: #262137") valores universales
      = ', aplicables en todo momento y lugar, sin importar raza, credo, posición económica o cualquier otro tipo de distinción entre seres vivos.'
     p(class="Tipografia--general letranegro General--Cuerpo" style="margin-top:50px") Los valores universales en los que creemos fortalecen las relaciones con nuestro &nbsp
      b equipo de trabajo
      = ' y nuestros'
      b &nbspsocios de negocios 
      ='y describen claramente en que dirección queremos llevar nuestra organización.'
     p(style="margin-top:50px" class="Tipografia--general letranegro General--Cuerpo")
      b(style="color:#262137") Chemical Broker 
      = 'define 4 valores como universales, los cuales rigen el actuar de nuestra organización'
  div(class="container")
   div(class="row" style="margin-top:50px")
    div(class="col s12 m12 l12 xl6 mercados zoom")
     a(href="" style="cursor:pointer;")
      div(class="contenedor")
       div(id="overlay" class="transfo" style="border-radius:10px")
       div(class="centrado_sub" style="position:absolute;z-index:2")
        h5(class="titulo_submercado Tipografia--general")
        b(class="titulo_submercado") 
         span(style="position:relative;z-index:2") Excelencia 
        b 
        hr(class="animacion")
       img(src="img/EXCELENCIA_CB.jpg", alt="" class="mercadosimagen" style="border-radius:10px")
    div(class="col s12 m12 l12 xl6")
     h6(class="Tipografia--general letranegro General--Cuerpo")
      i(class="tiny material-icons") arrow_forward_ios 
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Definición
     p(class="Tipografia--general letranegro General--Cuerpo") Superior calidad o bondad que hace digna de aprecio y estima una cosa o a una persona.
     h6(style="margin-top:50px" class="Tipografia--general letranegro General--Cuerpo") 
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Etimología
     p(class="Tipografia--general letranegro General--Cuerpo") La palabra excelencia viene del latín, Excellentia-ae, de ex y cella una raíz indoeuropea *kel- en griego kelo que significa lugar oculto o escondido, bodega, de ahí derivo la castellana celda y en alemán keller (sótano) y zelle (celda), por el cambio de la pronunciación de c como k en el latin clásico (keller) y la c como ts en el eclesiastico (zelle). excellentia, significaría salir de lo oculto, significando también superioridad, grandeza, elevarse, enorgullecerse, De esta palabra, salieron marcas como, por ejemplo. El programa para computadoras Excel.
     h6(style="margin-top:50px" class="Tipografia--general letranegro Subtitulos")
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Excelencia para Chemical Broker
     p(style="text-align:justify" class="Tipografia--general letranegro General--Cuerpo") Maximizar los Estándares determinados por Chemical Broker para cada proceso:
     ol(class="Tipografia--general letranegro General--Cuerpo") 
      li(style="font-size:16px") Estándar de 
       b Calidad
      li(style="font-size:16px") Estándar de 
       b Cantidad
      li(style="font-size:16px") Estándar de 
       b Tiempo
      li(style="font-size:16px") Estándar de 
       b Costo
     br
   
   br
   br
   br
   br
   div(class="row" style="margin-top:50px")
    div(class="col s12 m12 l12 xl6 mercados zoom" style="float:right")
     a(href="" style="cursor:pointer;")
      div(class="contenedor")
       div(id="overlay" class="transfo" style="border-radius:10px")
       div(class="centrado_sub" style="position:absolute;z-index:2")
        h5(class="titulo_submercado")
        b(class="titulo_submercado") 
         span(style="position:relative;z-index:2") Servicio 
        b 
        hr(class="animacion")
       img(src="img/CB_GOOD_CUSTOMER_130722.jpeg", alt="" class="mercadosimagen" style="border-radius:10px")
    div(class="col s12 m12 l12 xl6")
     h6(class="Tipografia--general letranegro General--Cuerpo") 
      i(class="tiny material-icons") arrow_forward_ios 
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Definición
     p(class="Tipografia--general letranegro General--Cuerpo") Acción o conjunto de actividades destinadas a satisfacer una determinada necesidad de nuestros socios de negocios, brindando un producto inmaterial y personalizado.
     h6(style="margin-top:30px" class="Tipografia--general letranegro General--Cuerpo") 
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Etimología
     p(class="Tipografia--general letranegro General--Cuerpo") 1. Viene del latín servitium compuesto con: la raíz de servitum. Supino del verbo servire (atender, cuidar, servir, ser esclavo, adaptarse a otro o a otra cosa)
     p(class="Tipografia--general letranegro General--Cuerpo") 2. Este vocablo en su etimologia procede del latín (servitium) que quiere decir servidumbre.
     h6(style="margin-top:30px" class="Tipografia--general letranegro General--Cuerpo")
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Servicio para Chemical Broker
     p(style="text-align:justify" class="Tipografia--general letranegro General--Cuerpo") Dedicamos nuestros esfuerzos a la 
      b satisfacción total 
      ="de Nuestros Socios de Negocios."
     br
   br
   br
   br
   br
   div(class="row" style="margin-top:50px;")
    div(class="col s12 m12 l12 xl6 mercados zoom")
     a(href="" style="cursor:pointer;")
      div(class="contenedor")
       div(id="overlay" class="transfo" style="border-radius:10px")
       div(class="centrado_sub" style="position:absolute;z-index:2")
        h5(class="titulo_submercado")
        b(class="titulo_submercado") 
         span(style="position:relative;z-index:2") Compromiso  
        b 
        hr(class="animacion")
       img(src="img/COMPROMISO_CB.jpg", alt="" class="mercadosimagen" style="border-radius:10px")
    div(class="col s12 m12 l12 xl6")
     h6(class="Tipografia--general letranegro General--Cuerpo")
      i(class="tiny material-icons") arrow_forward_ios 
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Definición 
     p(class="Tipografia--general letranegro General--Cuerpo") Acuerdo formal al que llegan dos o más partes tras hacer concesiones entre ellas
     h6(style="margin-top:30px" class="Tipografia--general letranegro General--Cuerpo") 
      i(class="tiny material-icons") arrow_forward_ios 
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Etimología
     p(class="Tipografia--general letranegro General--Cuerpo") Viene del latín compromissum (un acuerdo para cumplir con la adjudicación de un árbitro)
     h6(style="margin-top:30px" class="Tipografia--general letranegro General--Cuerpo")
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color:#545454;text-decoration:underline;text-decoration-color:#F7291E") Compromiso para Chemical Broker 
     p(style="text-align:justify" class="Tipografia--general letranegro General--Cuerpo") Brindar a nuestros socios de negocios un 
      b Servicio Integral 
      ="y exclusivo para su completa satisfacción."
     br
   br
   br
   br
   br
   div(class="row" style="margin-top:50px;")
    div(class="col s12 m12 l12 xl6 mercados zoom" style="float:right")
     a(href="" style="cursor:pointer;")
      div(class="contenedor")
       div(id="overlay" class="transfo" style="border-radius:10px")
       div(class="centrado_sub" style="position:absolute;z-index:2")
        h5(class="titulo_submercado" class="Tipografia--general letranegro General--Cuerpo")
        b(class="titulo_submercado") 
         span(style="position:relative;z-index:2") Etica 
         br
         ='Empresarial' 
        b 
        hr(class="animacion")
       img(src="img/ETICA_CB.jpg", alt="" class="mercadosimagen" style="border-radius:10px")
    div(class="col s12 m12 l12 xl6")
     h6(class="Tipografia--general letranegro General--Cuerpo")
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color: #008037;text-decoration:underline;text-decoration-color:#F7291E;") Definición
     p(class="Tipografia--general letranegro General--Cuerpo") La ética empresarial es una rama de la ética aplicada. Se ocupa del estudio de las cuestiones normativas de naturaleza moral que se plantean en el mundo de los negocios.
     h6(style="margin-top:30px" class="Tipografia--general letranegro General--Cuerpo")
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color: #008037;text-decoration:underline;text-decoration-color:#F7291E;") Etimología
     p(class="Tipografia--general letranegro General--Cuerpo") Se ubica en el latín como ethĭca, forma femenina de ethĭcus, cuyo origen se distingue en el griego ēthikḗ, en calidad de femenino de ēthikós. Es utilizada para referirse al estudio de los actos humanos con el fin de alcanzar el bien, es la voluntad de actuar de manera correcta.
     h6(style="margin-top:30px" class="Tipografia--general letranegro General--Cuerpo")
      i(class="tiny material-icons") arrow_forward_ios
      b(style="color: #008037;text-decoration:underline;text-decoration-color:#F7291E;") Etica Empresarial para Chemical Broker
     p(style="text-align:justify" class="Tipografia--general letranegro General--Cuerpo") Actuar con 
      b Respeto, Transparencia y Cumplimiento estricto a nuestros compromisos 
      ="con Nuestros Socios de Negocios; miembros de la organización, sociedad, gobierno, clientes y proveedores, apegado al marco legal vigente entre Chemical Broker y los involucrados."
     br
   
   br
   br
   br
   br 
   
  include footer.pug
  script(type="text/javascript", src="js/main.js")

        





