doctype html 
html 
 include head.pug
 body 
  include nav.pug
  div(class="container-fluid")
   div(class="slider slider-prueba" style="margin-top:0px;")
    ul(class="slides slides-pruea", style="height:400px")
     li 
      img(src="img/marca.jpg", style="height:400px;", alt="")
      div(class="caption center-align")
       br
       br
       br
       br
       h3(class="primertitulo")
        b(class="boldbanner") Chemical Broker
        br
       b(class="seguntitulo" style="font-size:26px") Marca 
  div(class="container")
   div(class="row")
    div(class="col s12 m12 l12 xl12")
     section(style="margin-top:125px;width:130px")
      a(href="index.php", class="breditem active" style="color:#262137 !important")
       b Inicio&nbsp 
       b  >&nbsp
      a(href="Marca.php" class="breditem active" style="color:#262137 !important;margin-left:-2px")
       b  Marca  
  div(class="container")
   div(class="row")
    div(class="col s12 m12 l12 xl12")
     h6(class="center-align in-view wow animate__animated animate__bounceInDown", style="color: #262137")
      b(style="color:#262137") "Una Marca, Una Identidad"
      br
     p(class="center-align in-view wow animate_animated animate_bounceInDown") Todas las organizaciones tienen una identificación comercial; una
      b(style="color:#262137") &nbsp marca
      =', que las relaciona con las personas por los productos o servicios que ofrecen en el mercado.' 
     p(class="center-align in-view animate__animated animate_bounceInDown", style="margin-top:50px") Algunas organizaciones buscan vender más, nosotros buscamos crecer con nuestros socios de negocios. 
     p(class="center-align in-view wow animate__animated animate_bounceInDown" style="margin-top:50px")
      b(style="color:#262137") Chemical Broker
       = ' es una marca global construida a partir de los siguientes elementos:' 
    div(class="col s12 m12 l6 xl6 center-align", style="margin-top:50px")
     div(class="col s12 m12 l12 xl12")
      h6(class="in-view wow animate__animated animate_bounceInDown")
       b(style="color:#262137") Logotipo 
     div(class="col s12 m12 l12 xl12")
      p Es la palabra que más usamos para definir la representación gráfica de una marca
      img(src="img/CB_LOGOTIPO_FONDO-BLANCO_V0.jpg", style="max-width:250px", alt="")
    div(class="col s12 m12 l6 xl6 center-align" style="margin-top:50px")
     div(class="s12 m12 l12 xl12")
      h6(class="in-view wow animate__animated animate__bounceInDown")
       b(style="color:#262137") Isotipo
     div(class="col s12 m12 l12 xl12") 
      p Es la parte simbólico o icónico de la representación gráfica de una marca, es decir el dibujo
      img(src="img/ISOTIPO.jpg", alt="" style="max-width:90px") 
    div(class="col s12 m12 l12 xl6 center-align" style="margin-top:50px")
     h6
      b(style="color:#262137") Isologo
      p Las piezas que lo componen son indivisibles o inseparables lo compone la parte gráfica o icono y también la parte textual, siempre se encuentran integrados 
      img(src="img/CB_IMAGOTIPO_FONDO-BLANCO_V0.png", alt="", style="max-width:310px")
    div(class="col s12 m12 l12 xl6 center-align", style="margin-top:50px")
     h6
      b(style="color:#262137") Slogan
     p Es la frase que acompaña la marca y que intenta trasladar al cliente el valor que tiene el producto
     br
     img(src="img/Captura.png", alt="" class="sloganedwar" style="margin-top:50px")
  //-  div(class="row center-align")
  //-   div(class="col s12 m12 l6 xl6" style="margin-top:50px")
  //-    h6(style="color: #262137")
  //-     b Color
  //-    br
  //-    img(src="img/colorazul.jpg", alt="" class="colorazulimg")
  //-    br
  //-    br
  //-    a(href="Color.php")
  //-     span(style="color:black;border:1px solid gray !important;padding:5px;box-shadow:0px 0px 4px 0px grey" class="leermasbrand") Leer Mas
  //-   div(class="col s12 m12 l12 xl6 tipoleermas" style="margin-top:50px")
  //-    h6(style="color:#262137")
  //-     b Tipografia
  //-     br
  //-    img(src="img/tipografia.jpg", class="tipografiaimg", alt="") 
  //-    br
  //-    br
  //-    a(href="Tipografia.php")
  //-     span(style="color:black;border: 1px solid gray !important;padding:5px;box-shadow:0px 0px 4px 0px grey" class="leermasbrand") Leer Mas
  //-   br
  //-   br
  include footer.pug    
  script(type="text/javascript", src="js/main.js")

       


