doctype html 
html 
 include head.pug 
 body 
  include nav.pug
  div(class="container-fluid")
   div(class="slider slider-prueba", style="margin-top:0px")
    ul(class="slides slides-pruea")
     li 
      img(src="img/apis.jpg", alt="" sytle="height:415px")
      div(class="caption center-align")
       br
       br
       br
       br
       h3(class="primertitulo")
        b(class="boldvanner") Chemical Broker 
        br
       b(class="segundotitulo" style="font-size:26px") API´s
  div(class="container")
   section(style="margin-top:125px;")
    a(href="index.php", class="breditem active" style="color:#262137 !important;")
     b Inicio&nbsp>&nbsp 
    a(href="Mercados.php", class="breditem active" style="color:#262137 !important;")
     b Mercados >&nbsp
    a(href="pharmaceutical.php", class="breditem active" style="color:#262137 !important;")
     b Farmaceutica >&nbsp 
    a(href="Spray_Nasal.html", class="breditem active" style="color:#262137 !important")
     b Spray Nasal >&nbsp 
    a(href="APIS.html" class="breditem active" style="color:#262137 !important;margin-left:-2px")
     b APIS
  br
  div(class="container")
   div(class="row")
    div(class="col s12 m12 l12 xl12")
     h6 
      b Activos 
     p La industria farmacéutica 
     h6 
      b Funcionalidades 
     p Dependiendo el tipo de activo genera una reacción dentro del cuerpo humano que alivia un malestar predeterminado
   
  include footer.pug 
     script(type="text/javascript", src="js/main.js")   
