div(id="modal1" class="modal" style="overflow-y:auto")
 div(class="modal-content" style="overflow-y:auto")
  h6(class="letranegro") 
   b(class="tipografia--general Titulos letranegro") Respetamos tu Privacidad
  p(class="General--Cuerpo Tipografia--general letranegro") Este sitio web utiliza cookies. Con la ayuda de las cookies, podemos mejorar el rendimiento de nuestro sitio web, analizar la navegacion del sitio web, respaldar nuestras actividades de marketing en internet y ampliar la funcionalidad del sitio web. Decida que cookies podemos utilizar para procesar sus datos personales y compartir los datos con terceros. Tenga en cuenta que las cookies técnicamente necesarias deben establecerse para mantener la funcionalidad de nuestro sitio web. Si hace clic en 'Acepto', acepta el almacenamiento de cookies en su dispositivo y el procesamiento y transferencia de datos a terceros. Puede revocar su concentimiento en cualquier momento, administrar su configuración de cookies y obtener más información sobre nuestro uso de cookies en 'Configuracion de cookies'. Puede encontrar más información en nuestra 
   a(href="PDF/CB_POLITICA_PRIVACIDAD_240521.pdf" class="Tipografia--general" style="color:rgba(2 146 238 /99%)") Política de Privacidad.
 div(class="modal-footer" style="height:25px")
  div(class="row center-align")
   div(class="col s12 m12 l4 xl4" style="margin-top:20px")
    a(href="#modal2" class="modal-trigger close_hover Tipografia--general letranegro Botones") Configuracion
    div(id="modal2" class="modal" style="overflow-x:hidden")
     div(class="modal-content")
      h6(class="letranegro") 
       b(style="float:left;" class="Tipografia--general letranegro Titulos") Centro de Preferencias de Privacidad       
      p(style="float:left;" class="Tipografia--general letranegro General--Cuerpo") Cuando visita cualquier sitio web, puede almacenar o recuperar información en su navegador, principalmente en forma de cookies. Esta información puede ser sobre usted, sus preferencias o su dispositivo y se utiliza principalmente para hacer que el sitio funcione como espera. Por lo general, la informacion no lo identifica directamente, pero puede brindarle una experiencia web mas personalizada. Debido a que respetamos su derecho a la privacidad, puede optar por no permitir algunos tipos de cookies. Haga clic en los titulos de las diferentes categorías para obtener más información y cambiar nuestra configuración predeterminada. Sin embargo, bloquear algunos tipos de cookies puede afectar su experiencia en el sitio y los servicios que podemos ofrecer.
      p 
       a(href="#" style="color:blue;float:left;" class="Botones Tipografia--general") Mas información
      div(class="row")
       div(class="col s12 m12 l12 xl12" style="margin-top:16px")
        a(href="#!" class="modal-close color--blanco fondo--color--corporativo" style="padding:10px;float:left" class="Tipografia--general Botones") Permitir Todo 
      h6(class="letranegro")
       b(style="float:left;" class="Tipografia--general letranegro Subtitulos") Administrar las preferencias de consentimiento
       br
      ul(class="collapsible elementos--cookies")
       li 
        div(class="collapsible-header letranegro Tipografia--general Botones") Cookies estrictamente necesarias
         label
            input(type="checkbox" class="filled-in float-right" checked="checked" disabled)
            span(class="letranegro") 
        div(class="collapsible-body")
         p(class="Tipografia--general letranegro General--Cuerpo") Estas cookies son necesarias para que el sitio web funcione y no se pueden desactivar en nuestros sistemas. Usualmente estan configuradas para responder a acciones hechas por usted para recibir servicios, tales como ajustar sus preferencias de privacidad, iniciar sesion en el sitio, o llenar formularios. Usted puede configurar su navegador para bloquear o alertar la presencia de estas cookies, pero algunas partes del sitio web no funcionaran. Estas cookies no guardan ninguna informacion personal identificable
       li 
        div(class="collapsible-header Tipografia--general Botones letranegro") Cookies de rendimiento
         label
            input(type="checkbox" class="filled-in float-right" disabled)
            span(class="letranegro") 
        div(class="collapsible-body")
         p(class="Tipografia--general letranegro General--Cuerpo") Estas cookies nos permiten contar las visitas y fuentes de circulacion para poder medir y mejorar el desempeño de nuestro sitio. Nos ayudan a saber qué son las más o menos populares y ver cuantas personas visitan el sitio. Toda la informacion que recogen estas cookies es agregada y, por lo tanto, anónima. Si no permite estas cookies no sabremos cuando visito nuestro sitio.
       li 
        div(class="collapsible-header Tipografia--general letranegro Botones") Cookies de funcionalidad 
         label
            input(type="checkbox" class="filled-in float-right" disabled)
            span(class="letranegro") 
        div(class="collapsible-body")
         p(class="Tipografia--general letranegro General--Cuerpo") Estas cookies permiten que el sitio ofrezca una mejor funcionalidad y personalizacion. Pueden ser establecidas por nosotros o por terceras partes cuyos servicios hemos agregado a nuestras paginas. Si no permiten estas cookies algunos de nuestros servicios no funcionaran correctamente.
       li
        div(class="collapsible-header Tipografia--general letranegro  Botones") Cookies dirigidas 
         label
            input(type="checkbox" class="filled-in float-right" disabled)
            span(class="letranegro") 
        div(class="collapsible-body")
         p(class="Tipografia--general letranegro General--Cuerpo") Estas cookies pueden estar en todo el sitio web, colocadas por nuestros socios publicitarios. Estos negocios pueden utilizarlas para crear un perfil de sus intereses y mostrarle anuncios relevantes en otros sitios. No almacenan informacion personal directamente, sino que se basan en la identificación unica de su navegador y dispositivo de acceso al internet. Si no permite estas cookies, tendra menos publicidad dirigida
     div(class="modal-footer")
      div(class="row center-align")
       div(class="col s12 m12 l12 xl12 elementos--cookies" style="padding-right:25px")
        a(class="modal-trigger modal-close letranegro Tipografia--general Botones" style="float:right" onclick="cerrar_modal();") Confirmar Opciones
   div(class="col s12 m12 l4 xl4 elementos--cookies")
    a(href="#!" class="close_hover letranegro Tipografia--general Botones" onclick="denegarCookies();") No Estoy de Acuerdo 
   div(class="col s12 m12 l4 xl4 elementos--cookies")
    a(href="#!" class="modal-close close_hover letranegro Tipografia--general Botones" onclick="aceptarCookies();") Estoy de Acuerdo
div(class="row")
 ul(class="collapsible" )
  li
   div(class="collapsible-header color--blanco color--fondo--negro", style="border:none;padding:0;margin-top:-9px;margin-left:-1px;margin-right:-1px" id="chefle")
    span(style="margin-left:15px")
     b(class="Tipografia--general Desplegables") Chemical Broker 
    i(class="medium material-icons rigth", id="rotar") arrow_drop_down
   div(class="collapsible-header color--fondo--negro color--blanco", style="border:none;padding:0;margin-right:15px;float:right;height:0px" class="Carreras_altura")
    span(style="margin-left:15px")
     b(class="Tipografia--general Desplegables") 
      a(href="Carreras.php") Carreras  
   div(class="collapsible-body color--fondo--negro", style="margin-left:-1px;margin-right:-1px")
    div(class="row")   
     div(class="col s12 m12 l6 xl6")
      section 
       div(class="container")
        div(class="row")
         div(class="col s12 m12 l10 xl10 sections")
          h6(style="padding-top:5px" class="Tipografia--general Titulos color--blanco") Acerca de 
          p(style="color:#a7a7a7;" class="Tipografia--general General--Cuerpo") Chemical Broker es un proveedor mundial de servicios de intermediación, comercialización, distribución, importación y exportación de productos químicos.
      section(style="margin-top:-17px")
       div(class="container")
        div(class="divider divider_sections")
        div(class="row")
         div(class="col s12 m12 l10 xl10 sections")
          h6(style="padding-top:5px;" class="Tipografia--general Titulos color--blanco") Enfoque de Negocios
          p(style="color: #a7a7a7;" class="Tipografia--general General--Cuerpo") Nuestros negocios brindan servicio a nuestros clientes en las industrias&nbsp Farmacéutica, Alimentaria y Nutrición Humana, Alimentaria y Nutrición Animal, Agroquímicos, Cosmética y Cuidado Personal, Detergencia, Industria Química
      section(style="margin-top:-17px")
       div(class="container")
        div(class="divider divider_sections")
        div(class="row")
         div(class="col s12 m12 l10 xl10 sections")
          h6(style="padding-top:5px" class="Tipografia--general Titulos color--blanco") Teléfonos 
          div(class="col s12 m12 l12 xl12")
           h6(class="Tipografia--general Titulos color--blanco") Ventas 
           p(style="color: #a7a7a7 !important;" class="Tipografia--general General--Cuerpo") Teléfono:
            a(href="tel:+525575861888" class="arrowblue" style="color:#a7a7a7") +52.55.7586.1888
          div(class="col s12 m12 l12 xl12") 
           h6(class="Tipografia--general Titulos color--blanco") Información General 
           p(style="color: #a7a7a7 !important;" class="Tipografia--general General--Cuerpo") Teléfono: 
            a(href="tel:+525575861818" class="arrowblue" style="color:#a7a7a7") +52.55.7586.1818 
     div(class="col s12 m12 l6 xl6 push-m1 pull-l1 pull-xl1")
      div(class="col s12 m12 l4 xl6")
        section 
         ul 
          p(class="color--blanco")
           b(class="Tipografia--general Titulos") Compañia
          hr(class="hr")
          ul 
           a(href="index.php", class="arrowblue Tipografia--general Subtitulos") Acerca de 
            i(class="fas fa-long-arrow-alt-right desaparece", id="aparece")
           br
           a(href="Historia_Hechos.php", class="arrowblue Tipografia--general Subtitulos") Historia y Hechos 
            i( class="fas fa-long-arrow-alt-right desaparece", id="aparece")
           br
           a(href="Marca.php", class="arrowblue Tipografia--general Subtitulos") Marca 
            i(class="fas fa-long-arrow-alt-right desaparece", id="aparece")
           br
           a(href="Valores.php", class="arrowblue Tipografia--general Subtitulos") Valores 
            i(class="fas fa-long-arrow-alt-right desaparece", id="aparece")
           br
           a(href="Premisas.php", class="arrowblue Tipografia--general Subtitulos") Premisas 
            i(class="fas fa-long-arrow-alt-right desaparece", id="aparece")
           br
           a(href="Servicio_Total.php", class="arrowblue Tipografia--general Subtitulos") Servicio Integral &nbsp
            i(class="fas fa-long-arrow-alt-right desaparece", id="aparece")
      div(class="col s12 m12 l8 xl6 push-l3")
       section 
        ul 
         p(class="color--blanco")
          b(class="Tipografia--general Titulos") Politicas 
          hr(class="hr")
          li 
           a(href="Code_of_Conduct.php", class="arrowblue Tipografia--general Subtitulos") Codigo de conducta  
            i(class="fas fa-long-arrow-alt-right desaparece", id="aparece")
          li 
           a(href="PDF/CB_POLITICA_PRIVACIDAD_240521.pdf" class="arrowblue Tipografia--general Subtitulos" download) Politica de Privacidad 
            i(class="fas fa-long-arrow-alt-right desaparece", id="aparece")
      div(class="col s12 m12 l12 xl8")
       section
        ul 
         p(class="color--blanco")
          b(class="Tipografia--general Titulos") Empleados 
          hr(class="hr") 
          li 
           a(href="VISTA/Principal.php" class="arrowblue Tipografia--general Subtitulos") Intranet&nbsp 
            i(class="fas fa-long-arrow-alt-right desaparece" id="aparece")
      div(class="col s12 m12 l12 pull-l7 xl4 pull-xl2")
       section
        ul 
         p(class="color--blanco")
          b(class="Tipografia--general Titulos") Carreras 
          hr(class="hr")
          li 
           a(href="Carreras.php" class="arrowblue Tipografia--general Subtitulos") Carreras 
            i(class="fas fa-long-arrow-alt-right desaparece" id="aparece") 
div(class="row")   
 nav(class="fondo--color--corporativo", style="height:137px;margin-top:-35px" class="" role="navigation")
  div(class="nav-wrapper container contlog")
   img(src="img/CB_IMAGOTIPO_AZUL.png", alt="Logotipo", class="img-logo")  
nav(style="background-color:white;height:25px;margin-top:-19px")
 div(class="nav-wrapper flex")
  a(href="#", data-target="mobile-demo", class="sidenav-trigger")
   i(class="material-icons letranegro") menu
  span(class="Pmenu letranegro") Menu
  ul(class="hide-on-med-and-down")
    
   li 
    a(href="Mercados.php", class="elemennav-secun Tipografia--general letranegro Subtitulos")
     b Mercados
   li 
    a(href="Productos_news.php", class="elemennav-secun Tipografia--general letranegro Subtitulos")
     b Productos 
   li
    a(href="Servicios.php", class="elemennav-secun Tipografia--general letranegro Subtitulos")
     b Servicios
   li 
    a(href="Cumplimiento.php", class="elemennav-secun Tipografia--general letranegro Subtitulos")
     b Cumplimiento 
   li 
    a(href="Contact.php", class="elemennav-secun Tipografia--general letranegro Subtitulos")
     b Contacto 
 div 
  ul 
   a(class="waves-effect right btn-lock1", style="background-color:#c73e32;cursor:pointer;padding:10px;", href="chemicalbroker.mx/Vista/Principal.php" id="LockBoton")
    i(class="material-icons left icon-lock1 desaparecelock color--blanco", style="margin-top:-24px;font-size:20px !important") lock
    i(class="material-icons left icon-lock1 aparecelock color--blanco", style="display:none;margin-top:-24px;font-size:20px !important" id="unlock1") lock_open
    span(class="candadodesktop")
    div(style="display:flex;justify-content:center") 
     p(style="align-self:center" class="Botones Logindesktop Tipografia--general") 
      b Iniciar Sesión
   li(class="ul-independiente right")
    a(href="#", class="btn-search-desktop1", id="busquedaprueba" onclick="abrirsearch();")
     i(class="material-icons left search-desktop-icon letranegro", style="font-size:24px;font-weight:500;position:absolute;z-index:1") search
  div(style="height:0;")
   a(href="#", data-target="mobile-search", class="sidenav-trigger btn-search-mobile1 right")
    i(class="material-icons search-mobile-icon" style="width:0px") search
ul(class="collapsible" id="search1" style="display:none")
 li 
  div(class="collapsible-header")
   div(class="container")
    div(class="row")
     div(class="col s12 m12 l12 xl12")
      p  Search 
       i(class="small material-icons left ico-Search") chevron_right
      hr(class="letranegro color--fondo--negro")
     div(class="col s12 m12 l12 xl12")
      a(href="#" style="margin-left:13px")
       i(class="material-icons left icon-menu-search letranegro") search
      input(type="search" id="inputBusqueda" class="txt-menu-search" placeholder=" Buscar contenido dentro del sitio")
    div(class="col s12 m12 l12 xl12 search" id="search")
     table(class="search-table" id="searchTable" style="width:100%")
      thead 
       tr
        td 
      tbody(class="center-aling")
       tr 
        td(class="border--hidden")
         a(href="index.php", class="letranegro border--hidden") Acerca de 
       tr
        td(class="border--hidden")
         a(href="Historia_Hechos.php", class="letranegro border--hidden") Historia y Hechos
       tr
        td(class="border--hidden")
         a(href="Marca.php", class="letranegro border--hidden") Marca
       tr
        td(class="border--hidden")
         a(href="Valores.php", class="letranegro border--hidden") Valores
       tr
        td(class="border--hidden")
         a(href="Premisas.php", class="letranegro border--hidden") Premisas
       tr
        td(class="border--hidden")
         a(href="Servicio_Total.php", class="letranegro border--hidden") Servicio Integral
       tr
        td(class="border-hidden")
         a(href="Code_of_Conduct.php", class="letranegro border--hidden") Codigo de Conducta
       tr
        td(class="border-hidden")
         a(href="Mercados.php", class="letranegro border--hidden") Mercados
       tr
        td(class="border-hidden")
         a(href="Servicios.php", class="letranegro border-hidden") Logistica Global
       tr
        td(class="border--hidden")
         a(href="Cumplimiento.php", class="letranegro border--hidden") Cumplimiento
       tr
        td(class="border--hidden")
         a(href="Contact.php", class="letranegro", style="border:hidden") Contacto
    div(class="col s12 m12 l12 xl12 center-align")
     a(href="#", onclick="cerrarsearch();")
      i(class="material-icons letranegro" style="font-size:45px;") keyboard_arrow_up
ul(class="sidenav" id="mobile-demo" class="fondo--color--corporativo") 
  li 
   a(href="Mercados.php"  class="color--blanco") 
     i(class="small material-icons right color--blanco" style="margin-top:0px !important;") chevron_right
     p(class="color--blanco") Mercados
   div(class="divider")
  li 
   a(href="Productos_news.php" class="color--blanco")
    i(class="small material-icons right color--blanco" style="margin-top:0px !important;") chevron_right
    p(class="color--blanco") Productos 
   div(class="divider") 
   li 
    a(href="Servicios.php"  class="color--blanco")
     i(class="small material-icons right color--blanco" style="margin-top:0px !important;") chevron_right
     p(class="color--blanco") Logistica Global
   div(class="divider")
   li 
    a(href="Cumplimiento.php" class="color--blanco")
     i(class="small material-icons right color--blanco" style="margin-top:0px !important;") chevron_right
     p(style="color:white !important;") Cumplimiento 
   div(class="divider")
   li 
    a(href="Contact.php" class="color--blanco")
     i(class="small material-icons right color--blanco" style="margin-top:0px !important;") chevron_right
     p(class="color--blanco") Contact
   div(class="divider")
   li 
    a(href="#" data-target="mobile-search" class="sidenav-trigger color--blanco")
     i(class="small material-icons right color--blanco" style="margin-top:0px !important;") search
     p(class="color--blanco") Search
   div(class="divider")
   li 
    a(class="waves-effect waves-light color--blanco" href="VISTA/Principal.php" style="background-color:#c73e32;" id="LockBoton") Login
     i(class="material-icons right color--blanco" style="margin-top:-1px !important;") lock
ul(class="sidenav fondo--color--corporativo", id="mobile-search") 
    div(class="container grid-search-mobile")
     p(class="color--blanco") Search
      i(class="small material-icons right ico-Search color--blanco") search
     hr(class="letranegro color--fondo--negro")
     input(type="text" style="border: 1px solid black;background-color:#e9e9e9" id="Busqueda_mobile" placeholder=" Buscar contenido")
     div(class="container")
      div(class="row")
       div(class="col s12 m12 l12 xl12 search" id="search2")
        table(class="search-table" id="searchTable2" style="width:100%;")
         thead 
          tr 
           td  
         tbody(class="center-align")
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="index.php" class="border--hidden color--blanco") Acerca de 
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Historia_Hechos.php" class="border--hidden color--blanco") Historia y Hechos
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Marca.php")
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Valores.php" class="border--hidden color--blanco") Valores 
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Premisas.php" class="color--blanco border--hidden") Premisas    
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Servicio_Total.php" class="border--hidden color--blanco") Servicio Integral 
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Code_of_Conduct.php" class="border--hidden color--blanco") Codigo de Conducta 
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Mercados.php" class="border--hidden color--blanco") Mercados 
          tr 
           td(class="fondo--color--corporativo border--hidden") 
            a(href="Servicios.php" class="border--hidden color--blanco") Logistica Global  
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Cumplimiento.php" class="border--hidden color--blanco") Cumplimiento 
          tr 
           td(class="fondo--color--corporativo border--hidden")
            a(href="Contact.php" class="border--hidden color--blanco") Contacto    
  

       
    



